#wxsubscribe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 280px;
}

#wxsubscribe h1 {
	font-size: 2em;
	margin: 0 auto;
	display:block;
	text-align: center;
}

#wxsubscribe p {
    margin: 15px 0 0 0;
    font-size: 0.9em;
    text-align: center;
}

#wxsubscribe img {
	margin: 0 auto;
	display:block;
}